.mywork{
    margin: 80px 170px;
    margin-bottom: 50px;
    gap: 30px;

}

.mywork-title{
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.mywork-title h1{
    font-size: 40px;
    padding-top: 8px;

}