.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 80px 170px;

    margin-bottom: 80px;
}

.contact-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-section{
    display: flex;
    gap: 70px;
}

.contact-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-detail img{
    height: 35px;
    width: auto;
}

.contact-left h1 {
    font-size: 80px;
    font-weight: 700;
    color: green;
}

.contact-left p{
    max-width: 500px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.85);
    font-size: 16px;
}

.contact-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-detail{
    display: flex;
    gap: 20px;
    align-items: center;
}

.contact-right{
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: start;
}

.contact-right label{
    font-size: 16px;
    font-weight: 500;
}

.contact-right input{
    height: 50px;
    width: 450px;
    padding:0px 20px;
    border: none;
    border-radius: 4px;
    background-color: #32323c;
    color: #a0a0a0;
    font-size: 16px;
    font-family: outfit;
}

.contact-right textarea{
    height: 160px;
    width: 450px;
    padding:20px;
    border: none;
    border-radius: 4px;
    background-color: #32323c;
    color: #a0a0a0;
    font-size: 16px;
    font-family: outfit;
    resize: vertical;
}

.contact-submit{
    border: 2px white solid;
    border-radius: 50px;
    padding: 13px 40px;
    background-color: #161513;
    color: white;
    font-size: 14px;
    font-weight: 500;
    font-family: outfit;
    transition: 0.3s ease;
}

.contact-submit:hover{
    border: 2px green solid;
    cursor: pointer;
}