.logo-img{
    height: 50px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
}

.nav-menu{
    display: flex;
    gap: 60px;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
}